@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
    html {
        font-family: Helvetica, "Helvetica Neue", sans-serif;
    }
    p {
        @apply text-base;
        @apply tracking-wide;
    }

    h1 {
        @apply text-5xl;
        @apply tracking-tight;
    }
    h2 {
        @apply text-xl;
        @apply tracking-tight;
    }

    /*Rules for sizing the icon. */
    .material-symbols-outlined.md-18 {
        font-size: 18px;
        /*@apply leading-none;*/
        /*@apply self-end;*/
    }
    .material-symbols-outlined.md-24 {
        font-size: 24px;
        /*@apply self-end;*/
    }
    .material-symbols-outlined.md-36 {
        font-size: 36px;
        /*@apply self-end;*/
        /*@apply leading-none;*/
    }
    .material-symbols-outlined.md-48 {
        font-size: 48px;
        /*@apply leading-tight;*/
    }

    /*Rules for using icons as black on a light background. */
    .material-symbols-outlined.md-dark {
        color: rgba(0, 0, 0, 0.54);
    }
    .material-symbols-outlined.md-dark.md-inactive {
        color: rgba(0, 0, 0, 0.26);
    }

    /* Rules for using icons as white on a dark background. */
    .material-icons.md-light {
        color: rgba(255, 255, 255, 1);
    }
    .material-icons.md-light.md-inactive {
        color: rgba(255, 255, 255, 0.3);
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

  }



@layer components {
.btn-base {
    @apply bg-indigo-500 hover:bg-indigo-700 text-white font-bold mt-4 py-2 px-4 rounded;
    }
}
